@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300|Open+Sans:400,300);
body {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
a {
  color: #80B959;
}
a:hover {
  text-decoration: none;
}
h1 {
  border-bottom: 1px solid #404046;
}
.navbar.navbar-default {
  background-color: transparent;
  border-color: transparent;
  width: 100%;
}
.navbar.navbar-default .navbar-brand {
  color: #fff;
}
.navbar.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar.navbar-default.affix {
  background-color: #000;
}
@media (max-width: 767px) {
  .navbar.navbar-default {
    background-color: #000;
  }
}
.container-fluid .jumbotron {
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border-radius: 0;
  color: #fff;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}
@media (min-width: 768px) {
  .container-fluid .jumbotron {
    background-attachment: fixed;
  }
}
.container-fluid .jumbotron h1 {
  border-bottom: none;
  font-size: 45px;
  font-weight: 300;
}
.breadcrumb {
  background-color: transparent;
}
@media (min-width: 768px) {
  .text-sm-right {
    text-align: right;
  }
}



.home__drive-image {
    background-position-y: -40px;
    background-image: url(/img/description-the-wallpaper-above-is-green-grassland-wallpaper-in.jpg);
    background-repeat: no-repeat;
}
.split-pane-image--right {
    left: initial;
    right: 0px;
}

.split-pane-image {
    position: absolute;
    top: 0px;
    
    width: 40%;
    height: 100%;
    background-size: cover;
    
    background-position: center center;
    
}

.soft-app-gutter--left, .soft-app-gutter--sides {
    padding-left: 50px;
}

.soft-app-gutter--right, .soft-app-gutter--sides {
    padding-right: 300px;
}

.soft-huge--bottom, .soft-huge--ends {
    padding-bottom: 52px;
}

.soft-huge--ends, .soft-huge--top {
    padding-top: 52px;
}
.soft-large--right, .soft-large--sides {
    width: 75%;
}
.soft-large--bottom, .soft-large--ends {
    padding-bottom: 40px;
}

.soft-large--ends, .soft-large--top {
    padding-top: 40px;
}

p.lead {
    font-size: 1.28571rem;
    line-height: 1.77778;
}

.flush--bottom, .flush--ends {
    margin-bottom: 0px;
}


.layout--middle > .layout__item {
    vertical-align: middle;
}

.layout--flush > .layout__item {
    padding-left: 0px;
}

.layout > .layout__item {
    padding-left: 30px;
}

.layout__item {
    display: inline-block;
    padding-left: 24px;
    vertical-align: top;
    width: 100%;
}
.position--relative {
    position: relative;
}

.five-tenths, .four-eighths, .one-half, .six-twelfths, .three-sixths, .two-quarters {
    width: 50%;
}

.fixed-ratio-image--home-safety {
    background-position-y: -40px;
    background-image: url(/img/description-the-wallpaper-above-is-green-grassland-wallpaper-in.jpg);
    background-repeat: no-repeat;
}

.fixed-ratio-image {
    position: absolute;
    top: 0px;
    
    width: 40%;
    height: 100%;
    background-size: cover;
    
    background-position: center center;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}